snippet hh
	# ${1}
	# ------------------------------------------------------------------------ #
	${2}


snippet hl
	# ------------------------------------------------------------------------ #
	${1}


snippet sh
	// ${1}
	// ---------------------------------------------------------------------- //
	${2}


snippet sl
	// ---------------------------------------------------------------------- //
	${1}


snippet vh
	" ${1} 
	" ------------------------------------------------------------------------ "
	${2}


snippet vl
	" ------------------------------------------------------------------------ "
	${2}


